<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device'width,initial-scale=1">
	<meta http-equiv="x-ua-compatible" <link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>



<body style="background-color: rgb(255, 255, 170)">
	<h1 style=" text-align:center">MENU DE REGISTRO DE CLIENTE</h1><br />
	<div class=container my-5>

		<!--Colocar la url completa, verbo a usar,  nombre del objeto que recibe para enviarle el modelo-->
		<form action="#" th:action="@{/sistemas/insertar2}" th:object="${cliente}" method="post">
			<table>
				<tr>
					<td>
						<label> CEDULA: </label>
					</td>
					<td>
						<!--* vincula al modelo+ el atributo del objeto entre llaves -->
						<input type="text" id="cedula" required="true" th:field="*{cedula}"
							style="background-color: rgb(207, 207, 233);">
					</td>
				</tr>
				<tr>
					<td>
						<label> NOMBRE: </label>
					</td>
					<td>
						<input type="text" id="nombre" required="true" th:field="*{nombre}"
							style="background-color: rgb(207, 207, 233);">
					</td>
				</tr>

				<tr>
					<td>
						<label> APELLIDO: </label>
					</td>
					<td>
						<input type="text" id="apellido" required="true" th:field="*{apellido}"
							style="background-color: rgb(207, 207, 233);">
					</td>
				</tr>

				<tr>
					<td>
						<label> FECHA DE NACIMIENTO: </label>
					</td>
					<td>
						<input type="datetime-local" id="fechaNacimiento" required="true" th:field="*{fechaNacimiento}"
							style="background-color: rgb(207, 207, 233);">
					</td>
				</tr>

				<tr>
					<td>
						<label> GENERO: </label>
					</td>
					<td>
						<input type="text" id="genero" required="true" th:field="*{genero}"
							style="background-color: rgb(207, 207, 233);">
					</td>
				</tr>

			</table>
			<input type="submit" value="Guardar"
				style="border-color: rgb(64, 0, 64); color: rgb(64, 0, 64); background-color: lightcyan;">
		</form>
	</div><br />
	<h3>SERA RETORNADO AL MENU EN CASO DE INGRESO EXITOSO</h3><br />
	<hr style="color: rgb(64, 0, 64);">
	<div style="text-align: center;">
		<h3>SI DESEA REGRESAR ATRAS, CLICK EN EL BOTON</h3><br />
		<form action="#" th:action="@{/sistemas/menu/empleados}" th:method="get">
			<input type="submit" value="ATRAS"
				style="border-color: rgb(64, 0, 64); color: rgb(64, 0, 64); background-color: lightcyan;">
		</form>
	</div>
</body>



</html>